---
layout: jpn
title: Jpn
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    東京都立大学博士後期3年。医療自然言語処理や要約に興味があります。
</p>
  <p>
    2022年度東京都立大学大学院 博士後期課程修了（予定）。2020年-現在:国立病院機構, 非常勤研究員
  </p>

</div>



  


<!-- ========== PUBLICATIONS ========== -->



<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=PrATIHoAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-sel">Selected and Recent Papers</div></li>  
    <li><div class="button" data-ref="#papers-Doc">Domestic</div></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="papers-sel">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
            {% if paper.demo %}
              <a class="button" href="{{ paper.demo }}" target="_blank">Demo</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>

    
    <!-- Domestic PAPERS -->
    <div class="tab-pane" id="papers-Doc">
      {% assign ml_papers = site.data.publications.papers | where: "in_doc", "y" %}
      {% for paper in ml_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
    
 <div class="docs-section" id="bio">
    <h4>学歴</h4>
    <p>
      <b>2023年3月博士（情報科学）（予定）</b><br/>
        東京都立大学大学院システムデザイン研究科情報科学域<br/>
        博士論文テーマ: Automatic Generation of Discharge Summary using Neural Network Models<br/>
        指導教員: 小町守
    <p/>
    
    <p>
      <b>2018年3月修士（工学）</b><br/>
        北陸先端科学技術大学院大学先端科学技術専攻科<br/>
        修士論文テーマ: Extracting and Classifying Text about Business in Website of Company<br/>
        指導教員: 白井清昭
    <p/>
    
    <p>
      <b>2016年3月学士（理工学）</b><br/>
        東洋大学理工学部生体医工学科<br/>
        学士論文テーマ: 抗癌剤5-FUに耐性を示す大腸癌細胞の性状解析<br/>
        指導教員: 加藤和則
    <p/>
</div>
    
<div class="docs-section" id="bio">
    <h4>研究歴</h4>
    <p>
      <b>2021年4月-現在</b><br/>
        リサーチアシスタント<br/>
        東京都立大学大学院システムデザイン研究科情報科学域
    </p>
    <p>
      <b>2020年1月-現在</b><br/>
        診療情報分析研究員（非常勤）<br/>
        国立病院機構
    </p>
    <p>
      <b>2020年4月-2022年3月</b><br/>
        パートタイム研究員<br/>
      理化学研究所革新的知能統合研究センター 言語情報アクセス技術チーム
    </p>
    <p>
      <b>2018年6月-2020年3月</b><br/>
        パートタイム研究員<br/>
      理化学研究所革新的知能統合研究センター 知識獲得チーム
    </p>
</div>


  <div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a> and <a href="https://github.com/thashim/thashim.github.io">Tatsunori Hashimoto</a>
  </p>

</div>
