---
layout: jpn
title: Jpn
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    東京都立大学博士後期3年。医療自然言語処理や要約に興味があります。
</p>
  <p>
    
   　2022年度東京都立大学大学院 博士後期課程修了（予定）。2020年-現在:国立病院機構, 非常勤研究員
    
  </p>

</div>



  


<!-- ========== PUBLICATIONS ========== -->



<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=PrATIHoAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-sel">Selected and Recent Papers</div></li>  
    <li><div class="button" data-ref="#papers-Doc">Domestic</div></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="papers-sel">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
            {% if paper.demo %}
              <a class="button" href="{{ paper.demo }}" target="_blank">Demo</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>

    
    <!-- Domestic PAPERS -->
    <div class="tab-pane" id="papers-Doc">
      {% assign ml_papers = site.data.publications.papers | where: "in_doc", "y" %}
      {% for paper in ml_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
    
 





  <div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a> and <a href="https://github.com/thashim/thashim.github.io">Tatsunori Hashimoto</a>
  </p>

</div>
